body{
	background: url("../imgs/IMG_8321.jpg") no-repeat center center fixed;
}

.navbar-title{
	color: white;
}

.nav-link{
	color:white; 
	float: left;
}

.container{ 
color: white; 
 }

 .navbar-brand { 
 float: left
  }

.maintitle {
	color:white;
	size: 150px;
	letter-spacing: 10px;
	text-align: center;
	margin-top: 25vh; 
	font-family: 'Roboto Condensed', sans-serif;	
}

.me {
	max-width: 150px 
}

.card{
	color: black;
	background-color: rgba(14,14,14,0.4);
	margin-top: 20px; 
}

.card-footer{
	background-color:rgba(14,14,14,0.4);
}

.my-icons{	
	color: white;
	font-size: 30px
}

.card-title{	
	color: white;
}

.tagline{
	color: white;
}